<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'mockup2.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'mockup1.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'timberwolves.png') }}" />
    <link rel="shortcut icon" href="{{ url_for ('static', filename = 'favicon.ico') }}" />
    <script type="text/javascript" src="{{ url_for ('static', filename = 'mockup2.js') }}"></script>
    <title>CS 257: Software Design</title>
</head>

<body>
    <h1>CS 257: Books Sample Web App</h1>
    <p>The appearance of this user interface is completely bare-bones, and
    not suitable for a final product. The point here is only to illustrate a
    handful of techniques in Javascript and Flask and PostgreSQL.</p>

    <p>Teams <select id="team_selector"></select></p>
    <p><table id="teams_table"></table></p>
</body>
</html>
